services:
  app:
    build: .
    restart: on-failure
    container_name: jobhub_app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8082:8082"
      - "8081:8081"
      - "8080:8080"
    command: bash -c "service nginx start && /home/wait-for-it.sh db:27017 -- node /home/back/src/server.js"

  db:
    image: mongo:latest
    container_name: jobhub_db
    restart: on-failure
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_AUTH_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_AUTH_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    ports: 
      - "27017:27017"
    volumes:
      - ./mongo_db:/data/db
      - ./back/docs:/home/back/docs
      - ./back/uploads:/home/back/uploads

volumes:
  mongo_db:
  docs:
