
/*-------------
    Home
--------------*/

/* End WEave pattern */

.container {
    display:flex;
    flex-flow:column;
    height:100%;
}

#home {
    position:relative;
    overflow:hidden;
    &:before {
        content: "Carlos";
        font-size: 100%;
        text-align: left;
        transform:scale(90);
        display:inline-block;
        position:absolute;
        top:40%;
        left:0;
        z-index:-1;
    }
    .ui.secondary.menu {
        @extend .serif;
        font-size: 1.3rem;
        color:#fff;
        #claim a {
            @extend .sans-serif;
            font-size:0.9rem;
            text-transform:uppercase;
            transform: scaleX(1.3);
            margin-left:1.5rem;
            color:#fff;
        }
        .right.menu .item {
            @extend .sans-serif;
            font-size:1rem;
            text-transform:uppercase;
            transform: scaleX(1.2);
            margin-left:1.5rem;
            color:#fff;
        }
        .right.menu .active.item {
            border-radius:none;
            &::after {
                content:'';
                width:5px;
            }
        }
    }
}