body {
    &:before {
        content: "Carlos";
        font-size: 100%;
        text-align: left;
        transform:scale(90);
        display:inline-block;
        position:fixed;
        top:40%;
        left:0;
        z-index:-1;
    }
}

#main {
    display:flex;
    flex-flow: row;
    @media (min-width:42rem) {
        &::before {
            top: 0;
            content: '';
            display: block;
            height: 100%;
            left: -20%;
            right:0;
            position: absolute;
            transform: skewX(9deg);
            transform-origin: 0;
            background-color: rgba($blue, 0.8);
            z-index: -1;
            width: 60%;
        }
        
        &::after {
            top: 0;
            content: '';
            display: block;
            height: 100%;
            right:-20%;
            position: absolute;
            transform: skewX(9deg);
            transform-origin: 0;
            background-color: #fff;
            z-index: -1;
            width: 79%;
        }
    }
    
    @media (max-width: 40rem) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            height: 5rem;
            left: 0;
            right:0;
            
            transform: skewY(-45deg);
            transform-origin: 0 100%;
            background-color: rgba($blue, 0.8);
            z-index: -1;
        }
    }
    
    
    .lefty {
        width:35%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
    
    
   
    .righty {
        width: 55%;
        height: 100%;
        display: flex;
        flex-flow: row wrap ;
        position: absolute;
        top: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: 75rem) {
             align-items:center;
        }
    }
    
    
}