/*-------------
    <MainCV>
--------------*/

#mainCV {
    h1 {@extend .sans-serif; font-weight: 600; font-size: 2.5rem;
        small {color:$grey; font-weight:300; font-size: 2rem;}
    }
    h2 {@extend .sans-serif; font-weight: 200; font-size: 2rem; margin-bottom: 0.5rem;}
    h3 {@extend .sans-serif; font-weight: 600; font-size: 1.3rem; }
    p {@extend .sans-serif; font-weight: 200; font-size: 1rem;}
    
    strong {font-weight:600; font-size: 1rem;}
    section {
        margin: 1rem 0;
    }
    
    .row {padding-top:0.5rem; padding-bottom: 0.5rem;}
    
    .HtmlText {
        @extend .sans-serif; font-weight: 200; font-size: 1rem;
        
        .public-DraftStyleDefault-ul {
            list-style-type:square;
        }
    }
    
    .field {@extend .sans-serif; font-weight: 200; font-size: 1rem; padding:0.5rem 1rem;
        strong {font-weight: 600;}
    }
    
    .ui.dividing.header {
        border-top: 1px solid rgba(34,36,38,.15);
        margin: 2rem 0;
        padding: 0.5rem 0;
    }
    
    .work-date {
        @extend .sans-serif; font-weight: 200; font-size: 1.2rem;
    }
    
}

#detail {
    
}