#nav {
    display:flex;
    flex-flow: column nowrap ;
    align-content: center;
    justify-content: center;
    #primary {
        border:none;
        width:100%;
        margin: 10% 0;
        flex-flow: column nowrap ;
        align-content: center;
        justify-content: center;
        
      ul {
          list-style:none;
          margin:0;
          padding:0;
              
            ul { padding-bottom:.5rem;}  
          
      }
      .item {
        @extend .sans-serif;
        font-size:1rem;
        font-weight:800;
        text-transform:uppercase;
        text-align:center;
        color:#fff; 
        border:none;
        list-style:none;
        padding:0px;
        margin:0px;
        
       ul .item {
           font-weight:100;
       } 
        a {
            color:#fff;
            position:relative;
            display:inline-block;
            padding:.3rem;
            padding-top:0;
            margin:0.5rem 0;
        }
        
        
            .active {
                color:$blue;
                background:#fff;
                
                &::before {
                    content:"";
                    width:100%;
                    height:10px;
                    background:#fff;
                    position:absolute;
                    transform:skew(5deg) rotate(2deg);
                    top:-5px;
                    left:0;
                    z-index:-1;
                }
            }
        
        }
        
    }
   
}