.u-emphasize-text {
  color: $main-blue;
  font-weight: 500;
}

.u-home-text {
  font-size: 1em;
}

.u-image-responsive {
  max-width: 100%;
}

.u-margin-right {
  margin-right: $standard-space;
}

.u-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $standard-space;
}

.u-blog-index-header {
  margin-bottom: 0;
}

.u-blog-header-section {
  border-bottom: 1px dashed $dark-grey;
  padding-bottom: 0.5em;
}

.u-blog-header-divider {
  border-bottom: 1px dashed $dark-grey;
}