#main {
    display:flex;
    flex-flow: row;
    @media (min-width:42rem) {
        &::before {
            top: 0;
            content: '';
            display: block;
            height: 100%;
            left: -20%;
            right:0;
            position: absolute;
            transform: skewX(9deg);
            transform-origin: 0;
            background-color: rgba($blue, 0.8);
            z-index: -1;
            width: 60%;
        }
        
        &::after {
            top: 0;
            content: '';
            display: block;
            height: 100%;
            right:-20%;
            position: absolute;
            transform: skewX(9deg);
            transform-origin: 0;
            background-color: #fff;
            z-index: -1;
            width: 79%;
        }
    }
    
    @media (max-width: 40rem) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            height: 5rem;
            left: 0;
            right:0;
            
            transform: skewY(-45deg);
            transform-origin: 0 100%;
            background-color: rgba($blue, 0.8);
            z-index: -1;
        }
    }
    
    
    .lefty {
        width:35%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
    
    
    
    #secondary {
        border:none;
        margin:0;
        width:100%;
        margin: 10% 0;
        
        .item {
            @extend .sans-serif;
            font-size:1rem;
            text-transform:uppercase;
            text-align:center;
            transform: scaleX(1.2);
            color:#fff; 
            border:none;
            
        }
    }

    .righty {
        width: 55%;
        height: 100%;
        display: flex;
        flex-flow: row wrap ;
        position: absolute;
        top: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        @media (max-width: 75rem) {
             align-items:center;
        }
    }
    
    .quick-nav {
        margin-right:5%;
        margin-top:10%;
        margin-bottom:10%;
        @media (max-width: 75rem) {
             margin:0 10%;
             margin-top:4rem;
        }
        
        .short-version {
            @extend .sans-serif;
            display:block;
            text-transform:uppercase;
            text-align:center;
            margin:0.3rem 0;
            padding:0;
            line-height:1.1;
            &.title {
                font-size:1.55rem;
                font-weight:600;
            }
            &.text {
                font-size:1.06rem;
                color:$blue;
            }
        } 
        
        #quick-cv {
            @extend .sans-serif;
            font-weight:200;
            font-size: $preset-font;
            height:3rem;
            border:none;    
            width: 100%;
            padding: 0.5rem;
            margin: 0.5rem 0;
            background-color: $blue;
            color: white;
            outline:none;
            
        }
        .btn {
            display:block;
        }
    }
    
    
    
    .explore {
        margin-left:5%;
        margin-right:5%;
        margin-top:10%;
        margin-bottom:10%;
        @media (max-width: 75rem) {
             margin:0 10%;
             margin-top:4rem;
        }
        .short-version {
            @extend .sans-serif;
            display:block;
            text-transform:uppercase;
            text-align:center;
            margin:0.3rem 0;
            padding:0;
            line-height:1.1;
            &.title {
                font-size:1.55rem;
                font-weight:600;
            }
            &.text {
                font-size:1.6rem;
                color:$blue;
            }
        } 
        
        #quick-cv {
            @extend .sans-serif;
            font-weight:200;
            font-size: $preset-font;
            height:3rem;
            border:none;    
            width: 100%;
            padding: 0.5rem;
            margin: 0.5rem 0;
            background-color: $blue;
            color: white;
            outline:none;
            
        }
        .btn {
            display:block;
        }
    }
    
    .home-details {
        z-index: 3;
        padding: 2.5rem 4rem;
        font-size: 1.2rem;
        width:100%;
    }
    
    .copyright {
        padding: 2.5rem 4rem;
        font-size: 1.2rem;
    }
    
    
}