@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,900,900i|Source+Serif+Pro:400,600,700|Source+Serif+Pro:400,600,700');

$blue: #44b0ee;
$grey: #eee;
$orange: #F6AE1B;
$dark: #414143;
$dark-grey:#868e96;

$preset-font: 1.3em;
$print-font: 1.3em;
$print-small: 1em;
$heading-1: 2em;
$heading-2: 1.5em;
$heading-3: 1.3em;
$heading-4: 1em;
$heading-5: 0.8em;

$layout-space: 5em;

.serif {
  font-family: 'Source Serif Pro', serif;
}

.sans-serif {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  border:none;
  background:none;
  outline:none;
}

html, body, #root, .layout {
  height:100%;
}

body {
    @extend .sans-serif;
    background:#fff;
}

h1, h2, h3, h4, h5, h6 {
  @extend .serif;
}

a, a:link {
  color: $orange;
}

ul li, dl, ol li {
  @extend .sans-serif;
  font-size:$print-font;
  font-weight:400;
}

p {
  font-size:$print-font;
  font-weight:400;
}

table tr {page-break-inside: avoid}
