/*-------------
    <MainCV>
--------------*/

#fullprint {
    
    h1 {@extend .sans-serif; font-weight: 600; font-size: 2.5rem; margin-bottom:1.5rem;
        small {color:$dark-grey; font-weight:300; font-size: 2.3rem;}
    }
    h2 {@extend .sans-serif; font-weight: 200; font-size: 2.2rem; margin-bottom: 0.5rem;}
    h3 {@extend .sans-serif; font-weight: 600; font-size:2rem; }
    h4 {
        @extend .sans-serif; font-weight:400;font-size: 1.4rem;
        
        small {
            font-size:1.2rem;
            font-weight:600; 
            color:$dark-grey;
        }
    }
    
    p {font-size:1.3rem;}
    
    strong {font-weight:600; font-size:$print-font;}
    section {
        margin: 1rem 0;
    }
    
    .row {padding-top:0.5rem; padding-bottom: 0.5rem;}
    
    .field {
        @extend .sans-serif; 
        font-weight: 400; 
        font-size: $print-font; 
        padding:0.5rem 1rem;
        
        strong {font-weight: 600;}
    }
    
    .ui.dividing.header {
        border-top: 1px solid rgba(34,36,38,.15);
        margin: 2rem 0;
        padding: 0.5rem 0;
    }
    
    .workplace, .position {
        padding-bottom:0px;
    }
    
    .work-date {
        @extend .sans-serif; font-weight: 400; font-size: $print-font;
    }
    .skills {
        .bar {
            transition: width 2s, background-color 2s;
        }
        small {
            margin-left:0.3rem;
            opacity:1;
        }
        
    }
    
    
}