.serif {
  font-family: 'Source Serif Pro', serif;
}

.sans-serif {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  border:none;
  background:none;
  outline:none;
}

.u-standard-grid {
  display: grid;
  grid-template-columns: repeat(5em, minmax(10px, 1fr));
  grid-row-gap: $standard-space;
  grid-column-gap: $standard-space;
}