/**
* Colors
**/
$blue: #44b0ee;
$grey: #eee;
$orange: #F6AE1B;
$dark: #414143;
$dark-grey:#868e96;

/**
* Font sizes
**/
$preset-font: 1.3em;
$print-font: 1.1em;
$print-small: 1em;
$heading-1: 2.2em;
$heading-2: 2em;
$heading-3: 1.8em;
$heading-4: 1.4em;
$heading-5: 1.2em;
$heading-6: 1.1em;

/**
* Spacing
**/
$standard-space: 0.6em;
$layout-space: 5em;