body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ButtonWrap__root___1EO_R {
  z-index: 1;
}

.section {
  
  padding: 1.5em 0;
  border-bottom:1px solid #eeeeee;
}

.btn {
  border:none;
  background:none;
  outline:none;
  cursor:pointer;
}

.pos-bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.borderTopDashed {
  border-top:1px dashed #ccc;
}

#detail input, #detail textarea {
  border:none;
  outline:none;
  border-bottom:1px solid #00bfff;
  padding: 0.5em;
}

#detail label {
  font-size:1.2em;
}

#detail .sub.header, #project .sub.header  {
  font-size: 1rem;
}

#detail .single label {
  margin: 0 0.5em;
}

#detail .block input {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

#detail .single {
  background-color: #eee;
  padding: 3em;
  margin: 1.5em 0;
  position: relative;
}

#detail .single .btn-close-repeat {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    display: table;
}

#detail .workExp-space {
  padding:1.5em 0;
}

#detail .personal .sub.header {
  margin-bottom: 1.5em;
}

#detail .public-DraftEditor-content {
  min-height: 150px;
}

#metainfo.section {
  margin-top: 1.5em;
}

#metainfo .ui.header input {
  padding:0;
}

/*
 --- Portfolio page
*/


.fileUpload .btn-upload {
  display: inline;
  border-radius:0.3em;
  border: 1px solid #2185d0;
  background-color: #2185d0;
  padding: 0.3em;
} 

.fileUpload .btn-upload .icon {
  color:#fff;
  margin-right: 0;
}

.fileUpload #input {
  border:none;
}

.fileUpload #fileName {
  border:none;
}

.fileUpload .headerRow {
  background-color: rgba(181,204,24,0.5);
}

#project input, #project textarea {
  border:none;
  outline:none;
  border-bottom:1px solid #00bfff;
  padding: 0.5em;
}


/*
 --- Cover Letters page
*/

#cl input, #cl textarea {
  border:none;
  outline:none;
  border-bottom:1px solid #00bfff;
  padding: 0.5em;
}

#cl .ui.header input {
  width:100%;
}

#cl label {
  font-size:1.2em;
}

#cl .sub.header, #project .sub.header  {
  font-size: 1rem;
}

#cl .single label {
  margin: 0 0.5em;
}

#cl .block input {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

#cl .single {
  background-color: #eee;
  padding: 3em;
  margin: 1.5em 0;
  position: relative;
}

#cl .single .btn-close-repeat {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    display: table;
}

#cl .workExp-space {
  padding:1.5em 0;
}

#cl .personal .sub.header {
  margin-bottom: 1.5em;
}

#cl .public-DraftEditor-content {
  min-height: 150px;
}

#metainfo.section {
  margin-top: 1.5em;
}

#metainfo .ui.header input {
  padding:0;
}


#notification {
  position: fixed;
  top:2rem;
  right:2rem;
  z-index: 999999;
}

#notification .ui.message {
 background-color:#1aa62a; 
 color:#fff;
}

#login {
  flex: none;
  
}

.login-centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}