section#education
  h2.ui.dividing.header Education
  each ed in educ
    .ui.grid(style='page-break-inside: avoid; page-break-inside: always')
      .row
        .workplace.eight.wide.column
          h4 #{ed.institution}
        .position.eight.wide.column
          h4 #{ed.diploma}
      .row
        .work-date.eight.wide.column
          p #{ed.date}
        .work-desc.eight.wide.column
          .desc !{ed.desc}
