section#others
  h2.ui.dividing.header #{__('Others')}
  .ui.grid
    each ed in others
      .row
        .label.ten.wide.column
          h4
            | #{ed.name} 
            small #{ed.desc}
        .level.six.wide.column
          .ui.small.grey.progress
            .bar(style='width:#{ed.level}')